<div class="row-fluid">
	<div class="span12">
		<h3> Dashboard - <%= current_user.name %> </h3>
		<!-- Navigation bar for dashboard -->
		<div class="span2">

		</div>

		<!-- View of elements -->

		<div class="span10">

			<%= render @scrambles %>

		</div>

		
	</div>
</div>

