<div class="row-fluid">
	<div class="span12">
		<h3> Dashboard - <%= current_user.name %> </h3>
		<!-- Navigation bar for dashboard -->
		<div class="span6">
<%= render @scrambles %>
		</div>

		<!-- View of elements -->

		<div class="span5">

      	<h1> You have <%= @scrambles.count %> scrambles </h1>
		</div>

		
	</div>
</div>

