<div class="container" id="aboutpage">
	<div class="row">
		<div class="span4"> 
			<div class="well"><!-- Menu -->
			<h4>What is ScrambleBox?</h4>	
			<h4>How does it work?</h4>	
			<h4>Who is behind ScrambleBox?</h4>	
		</div>
		</div>
		<div class="span8"> <!-- Content -->
			
			<article id="aboutscramblebox">
				<h2> What is ScrambleBox? </h2>
				<p> ScrambleBox is a marketplace site with a twist, this is the home of what we call progressive pricing. This site is meant to be the central of this kind of webshopping and will also provide services for businesses intresseted in using this site, by providing an excellent API. </p>
			</article>

			<hr>

			<article id="howscramble">
				<h2> How does it work?</h2>
			<p> You are now probably wondering how this is possible, it is easy: Jens sees an item of the site he is interessted in, but it is a little to expensive for him yet, and wants to try to get it cheaper. Jens has the option of asking the supplier directly and look like a cheap ass, but with ScrambleBox he can just bid on the item and get his friends to join in aswell by telling them about the product. As more people join in on the bidding, the price gets lower, additional items is added or something else happens. Jens then gets his item with lower price than he first was supposed to buy it for. </p> 
		    </article>
			<hr>

			<article id="whoscramble">
                <h2>Who is behind ScrambleBox?</h2>
				<p>ScrambleBox.com is made and run by a company named SnapDigit, a norwegian company based on the beautiful islands of Austevoll.</p>
			</article>

		</div>
	</div>
</div>