
<div id="milestonecontainer" style="width:100%">
	<div class="mscaption_wrapper">
		<div class="milestonecaption" style="left: 0%"></div>
		<div class="milestonecaption" style="left: 20%"></div>
		<div class="milestonecaption" style="left: 40%"></div>
		<div class="milestonecaption" style="left: 60%"></div>
		<div class="milestonecaption" style="left: 80%"></div>
		<div class="milestonecaption" style="left: 100%"></div>
	</div>

	<p style="height: 8px; margin: 0px"></p>

	<div class="scale-tb2">
		<div class="scalemark" style="left: 0%"></div>
		<div class="scalemark" style="left: 20%"></div>
		<div class="scalemark" style="left: 40%"></div>
		<div class="scalemark" style="left: 60%"></div>
		<div class="scalemark" style="left: 80%"></div>
		<div class="scalemark" style="left: 100%"></div>
	</div>
	
	<p style="height: 6px; margin: 0px"></p>

	<div class="box-wrap">
<!-- 		<div class="box1"></div>
		<div class="target" id="milestonemark1" style="left: 32.0%"></div>
		<div class="target" id="milestonemark2" style="left: 70.0%"></div>
		<div class="msbar" id="milestonebar1" style="width: 5.00107%; overflow: hidden;">0.0</div>
		<div class="msbar" id="milestonebar2" style="width: 5.00107%; overflow: hidden;">2.0</div> -->
	</div>

	<ul class="milestones">
		<li class="milestone" style="left: 32.0%">
			<span class="icon" id="milestoneicon1"></span>
			<span class="mstext">20%</span>
		</li>
		<li class="milestone" style="left: 70.0%">
			<span class="icon" id="milestoneicon2"></span>
			<span class="mstext">35%</span>
		</li>
	</ul>

	<div id="graphwrapper"><ul id="graphlegend"><li class="graphpoint"><strong id="bids">5</strong>Number of bids</li>
	<li class="graphpoint"><strong id="bids">Sale is a no no</strong>Current milestone</li>
	<li class="graphpoint"><strong id="bids">20%</strong>Next milestone</li>
	<li class="graphpoint"><strong id="bids">80</strong>Bids until next milestone</li>
	</ul>
	</div>
</div>