<h1>New order for <%= @scramble.title %></h1>

<div class="container" id="neworderscramble">
	  <div class="row">


		<div class="span8">
		 <%= render 'form' %>
		</div>

		<div class="span4">
			<h3>Your order for <%= @scramble.title %></h3>
			<p><%= @scramble.description %> </p>
		</div>

	
	</div>
</div>


