 <h1>Listing your scrambles</h1>

    <table class="table table-striped">

        <tbody>
            <%= render @scrambles %>
        </tbody>
    </table>
    <br />

    <%= link_to 'New Scramble', new_scramble_path %>