<div class="footer">
			<span>© 2013 <%= link_to 'SnapDigit', root_path %></span>
			<span><%= link_to 'About', about_path %></span>
			<span>Follow <a href="http://twitter.com/scramblebox">@scramblebox</a> for updates.</span>	
</div>	